[submodule "submodules/SoundManager2"]
	path = submodules/SoundManager2
	url = git@github.com:scottschiller/SoundManager2.git
[submodule "submodules/highlight.js"]
	path = submodules/highlight.js
	url = git@github.com:isagalaev/highlight.js.git
