#menu
{
   padding:5px;
   position: fixed;
   top: 12px;
   left: 12px;
   border-width: 2px;
   border-style: ridge;
   border-color: #ffc900;
   display: none;
   background-color: white;
}

.shadow
{
   -moz-box-shadow:     2px 3px 8px 2px #888;
   -webkit-box-shadow: 2px 3px 8px 2px #888;
   box-shadow:         2px 3px 8px 2px #888;
}

.menuItemOuter
{
   padding-left: 3px;
   padding-right: 3px;
}

.menuItemInner
{
   background-color: white;
   padding-left: 4px;
   padding-right: 4px;
   cursor: default;
}

.menuHover
{
   background-color: red;
}
